Source: qttas
Section: devel
Priority: extra
Maintainer: Petri Kiiskinen <ext-petri.ak.kiiskinen@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>=4.6.1~), libqtwebkit-dev (>=2.1~), libqmsystem-dev (>= 0.1.33~), x11proto-xext-dev, libxtst-dev, libqtcontacts-dev, libqtm-serviceframework-dev,libqtm-systeminfo-dev
Standards-Version: 3.7.2

Package: qttas-server
Architecture: any
Depends: libqt4-network (>= 4.6.1~), libqt4-xml (>= 4.6.1~), libqtcore4 (>= 4.6.1~), libqtgui4 (>= 4.6.1~), libc6 (>= 2.5.0), libqmsystem0 (>= 0.1.33~), libxtst6
Description: QT Tas Server implementation
 QT TAS is a test automation server which provides testability 
 interface. Interface is used to access UI components to 
 verify and control them. 

Package: qttas
Architecture: any
Depends: qttas-server (= ${Source-Version}), qttas-plugins (= ${Source-Version}), qttas-plugins-dui (= ${Source-Version})
Description: Metapackage for Qttas
 QT TAS is a test automation server which provides testability 
 interface. Interface is used to access UI components to 
 verify and control them. 

Package: qttas-plugins-dui
Architecture: any
Depends: libqt4-xml (>= 4.6.1~), libqtcore4 (>= 4.6.1~), libqtgui4 (>= 4.6.1~), libc6 (>= 2.5.0)
Description: Libdui plugins for QtTas server
 lorem ipsum

Package: qttas-plugins
Architecture: any
Depends: libqtwebkit4 (>= 2.1~), libqt4-network (>= 4.6.1~), libqt4-test (>= 4.6.1~), libqt4-xml (>= 4.6.1~), libqtcore4 (>= 4.6.1~), libqtgui4 (>= 4.6.1~), libc6 (>= 2.5.0),libqtm-systeminfo
Description: Required plugins for QT Tas Server
 Testability and traverser plugins


Package: qttas-dev
Architecture: any
Depends: qttas-server (= ${Source-Version})
Description: QT Tas Server Development files
  Development headers for QTTAS

