Source: qttas
Section: devel
Priority: extra
Maintainer: Link Motion Cutedriver Team <info+cutedriver@link-motion.com>
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1),
               libxtst-dev,
               libx11-dev,
               libx11-xcb-dev,
               libxcb1-dev,
               libqt5webkit5-dev
Standards-Version: 3.9.7

Package: qttas-server
Architecture: any
Replaces: xserver-security-policy
Depends: libqt5network5,
         libqt5xml5,
         libqt5core5a, 
         libpcre16-3, 
         libpcre3,
         ${shlibs:Depends},
         ${misc:Depends},
Description: QT Tas Server implementation
 QT TAS is a test automation server which provides testability 
 interface. Interface is used to access UI components to 
 verify and control them. Xserver-security-policy owned file 
 security.conf will be replaced when installing this packet

Package: qttas
Architecture: any
Depends: qttas-server (= ${source:Version}),
         qttas-plugins (= ${source:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
Description: Metapackage for Qttas
 QT TAS is a test automation server which provides testability 
 interface. Interface is used to access UI components to 
 verify and control them. 

Package: qttas-plugins
Architecture: any
Depends: libqt5webkit5,
         libqt5widgets5,
         libqt5webkit5,
         libqt5gui5,
         libqt5network5,
         libqt5xml5,
         libqt5test5,
         libqt5printsupport5,
         libqt5opengl5,
         libqt5qml5,
         lib32z1, 
         libjpeg-turbo8,
         ${shlibs:Depends},
         ${misc:Depends},
Description: Required plugins for QT Tas Server
 Testability and traverser plugins

Package: qttas-dev
Architecture: any
Depends: qttas-server (= ${source:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
Description: QT Tas Server Development files
 Development headers for QTTAS

